body {
  font-family: Arial, sans-serif;
  background-color: #ddd;
}

#header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: #CFB53B;
  text-decoration: none;
  margin-right: 20px;
}

#content {
  padding: 20px;
  text-align: center;
}

#footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}
